/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding:0px;

}

html, body {
    height: 100vh;
    width: 100vw;
    
}

.main-container-grid {
    display: grid;
    /* one column three rows fr = fraction*/
    grid-template-rows: 1fr 12fr 1fr;
}
.main-container-grid > div:nth-child(even) {
    background-color: #CCC;
    height: 100vh;
}

.main-container-grid > div:nth-child(odd) {
    background-color: #f1f1f1;
}
/* main header */
.main-header {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-auto-rows: minmax(75px, 75px);
}

.header-logo {
    align-self: center;

}

.header-center {
    align-self: center;
    justify-self: center;
    display:grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    /* you only classified it to have # of columns */

}
    /* aligning all divs under header-center to be centered  */
.header-center > div {
    justify-self: center;
    align-self: center;
}

.header-right {
    align-self: center;
    justify-self: right;
}

/* end main header */

/* main footer start */
.main-footer {
    grid-auto-rows: minmax(75px, 75px);
}




/* main-content-grid */
.main-content-grid {
    display:grid;
    grid-template-columns:1fr 5fr 2fr;
    height: calc(100vh - 150px);
    overflow:hidden;

}

.left-sidebar {
    justify-self: center;
}

.right-sidebar {
    justify-self: center;
}

.main-content {
    justify-self: left;
    overflow:auto;
    display: grid;
    width: 100%;
}



/* main-content-end */